
@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/jquery-1.7.2.min.js"></script>

<script type="text/javascript">
    var jQuery_1_7_2 = $.noConflict(true);
</script>

<div class="content-wrapper" style="padding: 0; margin: 0;">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div id="msg"></div>
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                        <input id="hdn_master_id" type="hidden" />
                        <input id="hdn_count_element" type="hidden" value="1" />
                        <input id="hdn_remove_all_id" type="hidden" />
                        <input id="hdn_total_rec" type="hidden" value="0" />
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Country">Date</label>
                                    <input type="date" class="form-control" id="dateEntry" name="dateEntry" placeholder="Date" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Name">Customer Name</label>
                                    <input type="text" class="form-control" id="txtCustomerNameEntry" name="txtCustomerNameEntry" placeholder="Customer Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Website">Contact No</label>
                                    <input type="text" class="form-control" id="txtContactNoEntry" name="txtContactNoEntry" placeholder="Contact No" />
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered" id="tbl_details" style="min-width: 800px;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50%">Product</th>
                                                    <th style="width: 15%">Unit Price</th>
                                                    <th style="width: 10%">Qty</th>
                                                    <th style="width: 20%">Total Price</th>
                                                    <th colspan="2" style="width: 5%; text-align: center; margin: 0 auto;" align="center"><span class="glyphicon glyphicon-cog"></span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a href="#" class="btn btn-default" onclick="goto_list()">Back</a>
                        <button id="btnsave" type="button" onclick="save()" class="btn btn-primary">Save</button>
                        <br />
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </section>
</div>

